src/main/plugin/dcat-ap/schema/profiles/eu-dcat-ap-mobility.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
           xmlns:skos="http://www.w3.org/2004/02/skos/core#"
           xmlns:dct="http://purl.org/dc/terms/"
           xmlns:oa="http://www.w3.org/ns/oa#"
           xmlns:owl="http://www.w3.org/2002/07/owl#"
           xmlns:mobilitydcatap="https://w3id.org/mobilitydcat-ap#"
           targetNamespace="https://w3id.org/mobilitydcat-ap#"
           elementFormDefault="qualified"
           attributeFormDefault="qualified">
  <xs:annotation>
    <xs:documentation xml:lang="en">
      https://mobilitydcat-ap.github.io/mobilityDCAT-AP/releases/index.html
    </xs:documentation>
  </xs:annotation>

  <xs:import namespace="http://www.w3.org/1999/02/22-rdf-syntax-ns#" schemaLocation="../rdf.xsd"/>
  <xs:import namespace="http://www.w3.org/2004/02/skos/core#" schemaLocation="../skos.xsd"/>
  <xs:import namespace="http://purl.org/dc/terms/" schemaLocation="../dcterms.xsd"/>
  <xs:import namespace="http://www.w3.org/ns/oa#" schemaLocation="../oa.xsd"/>
  <xs:import namespace="http://www.w3.org/2002/07/owl#" schemaLocation="../owl.xsd"/>

  <xs:element name="mobilityTheme" type="skos:Concept"/>
  <xs:element name="transportMode" type="skos:Concept"/>
  <xs:element name="networkCoverage" type="skos:Concept"/>
  <xs:element name="georeferencingMethod" type="skos:Concept"/>
  <xs:element name="intendedInformationService" type="skos:Concept"/>
  <xs:element name="applicationLayerProtocol" type="skos:Concept"/>
  <xs:element name="specificContentModel" type="skos:Concept"/>
  <xs:element name="communicationMethod" type="skos:Concept"/>
  <xs:element name="grammar" type="skos:Concept"/>
  <xs:element name="schema" type="rdf:ResourceRef"/>
  <xs:element name="dataFormatNotes" type="rdf:PlainLiteral"/>
  <xs:element name="mobilityDataStandard" type="mobilitydcatap:MobilityDataStandard"/>

  <!--
  Intended format:

  <mobilitydcatap:mobilityDataStandard>
    <mobilitydcatap:MobilityDataStandard rdf:about="https://w3id.org/mobilitydcat-ap/mobility-data-standard/siri">
       <dct:identifier>https://w3id.org/mobilitydcat-ap/mobility-data-standard/siri</dct:identifier>
       <dct:title xml:lang="nl">SIRI</dct:title>
       <owl:versionInfo>versie</owl:versionInfo>
       <mobilitydcatap:schema rdf:resource="schema" />
    </mobilitydcatap:MobilityDataStandard>
  </mobilitydcatap:mobilityDataStandard>
  -->
  <xs:complexType name="MobilityDataStandard">
    <xs:sequence>
      <xs:element name="MobilityDataStandard" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <!--TODO Added in mobility DCAT 3
            Broken link in the spec to the vocabulary
            <xs:element ref="mobilitydcatap:specificContentModel" minOccurs="0"/>-->
            <xs:element ref="dct:identifier" minOccurs="0"/>
            <!-- dct:conformsTo is used when a custom type of MobilityDataStandard is used, in which case we can show commonalities here. Not applicable yet. -->
            <!-- <xs:element ref="dct:conformsTo" minOccurs="0"/>-->
            <!--TODO In mobility v1 was owl:versionInfo, is dcat:version in v3 -->
            <xs:element ref="owl:versionInfo" minOccurs="0"/>
            <xs:element ref="mobilitydcatap:schema" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute ref="rdf:about"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="assessmentResult" type="mobilitydcatap:Assessment"/>

  <xs:complexType name="Assessment">
    <xs:sequence>
      <xs:element name="Assessment" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="dct:issued"/>
            <xs:element ref="oa:hasBody"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
