src/main/plugin/dcat-ap/schema/dcat.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:adms="http://www.w3.org/ns/adms#"
           xmlns:dct="http://purl.org/dc/terms/"
           xmlns:dcat="http://www.w3.org/ns/dcat#"
           xmlns:dcatap="http://data.europa.eu/r5r/"
           xmlns:foaf="http://xmlns.com/foaf/0.1/"
           xmlns:owl="http://www.w3.org/2002/07/owl#"
           xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
           xmlns:skos="http://www.w3.org/2004/02/skos/core#"
           xmlns:spdx="http://spdx.org/rdf/terms#"
           xmlns:vcard="http://www.w3.org/2006/vcard/ns#"
           xmlns:cnt="http://www.w3.org/2011/content#"
           xmlns:mdcat="https://data.vlaanderen.be/ns/metadata-dcat#"
           xmlns:mobilitydcatap="https://w3id.org/mobilitydcat-ap"
           targetNamespace="http://www.w3.org/ns/dcat#"
           elementFormDefault="qualified"
           attributeFormDefault="qualified">
  <xs:annotation>
    <xs:documentation xml:lang="en">
      DCAT-AP 2.0 XML Schema
      XML Schema for http://www.w3.org/ns/dcat# namespace

      Description: This is an XML Schema for the DCAT-AP specification. The schema is used by GeoNetwork for storing
      GeoNetwork data internally. The schema adheres to a 'normalized' RDF/XML syntax that can be processed with good
      old XML Technology (XPath, XSLT, XQuery). The schema is not intended to be used outside GeoNetwork.

      Created 2016-05-31
      Modified 2020-12-02

      Author GIM
    </xs:documentation>
  </xs:annotation>
  <xs:import namespace="http://www.w3.org/ns/adms#" schemaLocation="adms.xsd"/>
  <xs:import namespace="http://purl.org/dc/terms/" schemaLocation="dcterms.xsd"/>
  <xs:import namespace="http://xmlns.com/foaf/0.1/" schemaLocation="foaf.xsd"/>
  <xs:import namespace="http://www.w3.org/2002/07/owl#" schemaLocation="owl.xsd"/>
  <xs:import namespace="http://www.w3.org/2004/02/skos/core#" schemaLocation="skos.xsd"/>
  <xs:import namespace="http://spdx.org/rdf/terms#" schemaLocation="spdx.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/02/22-rdf-syntax-ns#" schemaLocation="rdf.xsd"/>
  <xs:import namespace="http://www.w3.org/2006/vcard/ns#" schemaLocation="vcard.xsd"/>
  <xs:import namespace="http://www.w3.org/2011/content#" schemaLocation="cnt.xsd"/>
  <xs:import namespace="https://data.vlaanderen.be/ns/metadata-dcat#" schemaLocation="profiles/mdcat.xsd"/>
  <xs:import namespace="http://data.europa.eu/r5r/" schemaLocation="profiles/eu-dcat-ap-hvd.xsd"/>
  <xs:import namespace="https://w3id.org/mobilitydcat-ap" schemaLocation="profiles/eu-dcat-ap-mobility.xsd"/>

  <!-- dcat:Catalog-->
  <xs:complexType name="Catalog_type">
    <xs:complexContent>
      <xs:extension base="rdf:Resource">
        <xs:sequence>
          <!-- Notes -->
          <!-- prov:qualifiedRelation was not in use so far - not included until support is required -->

          <!-- dcat -->
          <xs:element ref="catalog" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="contactPoint" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dataset" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="keyword" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="landingPage" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="record" type="dcat:Catalog_CatalogRecord_type" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="service" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="theme" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="themeTaxonomy" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:accessRights" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:conformsTo" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:creator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:description" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:hasPart" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:identifier" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:isPartOf" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:isReferencedBy" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:issued" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:language" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:license" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:modified" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:publisher" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:relation" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:rights" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:spatial" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:title" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:type" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="foaf:homepage" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dcatap:applicableLegislation" minOccurs="0" maxOccurs="unbounded"/>

          <!-- Profile / dcat-ap-vl  & metadata-dcat -->
          <xs:element ref="dct:subject" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="mdcat:MAGDA-categorie" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="mdcat:statuut" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:rightsHolder" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Catalog_CatalogRecord_type">
    <xs:sequence>
      <xs:element ref="dcat:CatalogRecord" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute ref="rdf:resource"/>
  </xs:complexType>

  <!-- dcat:CatalogRecord-->
  <xs:complexType name="CatalogRecord_type">
    <xs:complexContent>
      <xs:extension base="rdf:Resource">
        <xs:sequence>
          <!-- dcat -->
          <xs:element ref="foaf:primaryTopic" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:modified" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:conformsTo" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="adms:status" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:issued" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:title" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:description" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:source" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:language" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:rights" minOccurs="0" maxOccurs="unbounded"/>
          <!-- additionally, required by GeoNetwork for identification -->
          <xs:element ref="dct:identifier" minOccurs="0"
                      maxOccurs="unbounded"/> <!-- Required by GeoNetwork for MD identifications -->

          <!-- Profile / dcat-ap-vl & metadata-dcat -->
          <xs:element ref="adms:identifier" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="mdcat:stars" minOccurs="0" maxOccurs="unbounded"/>

          <!-- Profile / mobilityDCAT-AP -->
          <!-- Mandatory -->
          <xs:element ref="dct:created" minOccurs="0" maxOccurs="unbounded"/>
          <!-- Optional -->
          <xs:element ref="dct:publisher" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- dcat:Dataset-->
  <xs:complexType name="Dataset_type">
    <xs:complexContent>
      <xs:extension base="rdf:Resource">
        <xs:sequence>
          <!-- notes -->
          <!-- prov:qualifiedAttribution / prov:wasGeneratedBy currently not in use, to be added when interest is there-->

          <!-- dcat -->
          <xs:element ref="contactPoint" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="distribution" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="keyword" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="landingPage" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="qualifiedRelation" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="spatialResolutionInMeters" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="temporalResolution" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="theme" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="adms:identifier" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="adms:sample" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="adms:versionNotes" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:accessRights" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:accrualPeriodicity" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:conformsTo" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:creator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:description" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:identifier" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:isReferencedBy" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:issued" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:language" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:modified" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:provenance" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:publisher" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:relation" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:rights" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:source" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:spatial" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:temporal" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:title" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:type" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="foaf:page" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="version" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="isVersionOf" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="hasVersion" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dcatap:applicableLegislation" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="inSeries" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="first" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="last" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="prev" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="next" minOccurs="0" maxOccurs="unbounded"/>

          <!-- Profile / dcat-ap-vl & metadata-dcat -->
          <xs:element ref="dct:created" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:rightsHolder" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:subject" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="mdcat:MAGDA-categorie" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="mdcat:statuut" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="extension" minOccurs="0" maxOccurs="unbounded"/>

          <!-- Profile / mobilityDCAT-AP -->
          <!-- Mandatory -->
          <xs:element ref="mobilitydcatap:mobilityTheme" minOccurs="0" maxOccurs="unbounded"/>
          <!-- Recommended -->
          <xs:element ref="mobilitydcatap:transportMode" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="mobilitydcatap:networkCoverage" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="mobilitydcatap:georeferencingMethod" minOccurs="0" maxOccurs="unbounded"/>
          <!-- Optional -->
          <xs:element ref="mobilitydcatap:intendedInformationService" minOccurs="0" maxOccurs="unbounded"/>
          <!--
          TODO:
          assessmentResult
          hasQualityAnnotation
          -->

          <!-- Profile / DCAT-AP-HVD -->
          <xs:element ref="dcatap:hvdCategory" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:rights" minOccurs="0" maxOccurs="unbounded"/>

          <!-- DCAT-AP v2 compatibility -->
          <xs:element ref="owl:versionInfo" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:hasVersion" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:isVersionOf" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- dcat:Distribution-->
  <xs:complexType name="Distribution_type">
    <xs:complexContent>
      <xs:extension base="rdf:Resource">
        <xs:sequence>
          <!-- note: odrl:hasPolicy not implemented, to be added when need arises -->

          <!-- dcat -->
          <xs:element ref="accessService" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="accessURL" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="byteSize" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="downloadURL" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="spatialResolutionInMeters" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="temporalResolution" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="adms:status" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="compressFormat" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="mediaType" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="packageFormat" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dcatap:availability" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:accessRights" minOccurs="0"
                      maxOccurs="unbounded"/><!-- to be discussed: should be a dct:RightsStatement -->
          <xs:element ref="dct:conformsTo" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:description" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:format" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:issued" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:language" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:license" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:modified" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:rights" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:title" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="foaf:page" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="spdx:checksum" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dcatap:applicableLegislation" minOccurs="0" maxOccurs="unbounded"/>

          <!-- Profile / dcat-ap-vl & metadata-dcat -->
          <xs:element ref="dct:identifier" minOccurs="0" maxOccurs="unbounded"/>

          <!-- Profile / DCAT-AP-Mobility -->
          <!-- Recommended -->
          <xs:element ref="mobilitydcatap:applicationLayerProtocol" minOccurs="0" maxOccurs="unbounded"/>
          <!-- Optional -->
          <xs:element ref="cnt:characterEncoding" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="mobilitydcatap:communicationMethod" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="mobilitydcatap:dataFormatNotes" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="mobilitydcatap:grammar" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="adms:sample" minOccurs="0" maxOccurs="unbounded"/>
          <!--                <xs:element ref="mobilitydcat:mobilityDataStandard" minOccurs="0" maxOccurs="unbounded"/>-->
          <xs:element ref="dct:temporal" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- dcat:DataService -->
  <xs:complexType name="DataService_type">
    <xs:complexContent>
      <xs:extension base="rdf:Resource">
        <xs:sequence>
          <!-- dcat -->
          <xs:element ref="contactPoint" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="endpointDescription" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="endpointURL" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="keyword" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="landingPage" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="qualifiedRelation" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="servesDataset" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:accessRights" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:conformsTo" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:creator" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:description" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:identifier" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:language" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:license" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:modified" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:publisher" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:relation" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:rights" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:title" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:type" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="version" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:format" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dcatap:applicableLegislation" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="inSeries" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="first" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="last" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="prev" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="next" minOccurs="0" maxOccurs="unbounded"/>

          <!-- dcat-ap-vl & metadata-dcat -->
          <xs:element ref="theme" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="adms:identifier" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="adms:versionNotes" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:created" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:issued" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:rightsHolder" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dct:subject" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="mdcat:MAGDA-categorie" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="mdcat:landingspaginaVoorAuthenticatie" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="mdcat:landingspaginaVoorGebruiksinformatie" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="mdcat:landingspaginaVoorStatusinformatie" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="mdcat:levensfase" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="mdcat:ontwikkelingstoestand" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="mdcat:statuut" minOccurs="0" maxOccurs="unbounded"/>

          <!-- DCAT-AP v2 compatibility -->
          <xs:element ref="owl:versionInfo" minOccurs="0" maxOccurs="unbounded"/>

          <!-- Profile / DCAT-AP-HVD -->
          <xs:element ref="dcatap:hvdCategory" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dcatap:applicableLegislation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- dcat:DatasetSeries -->
  <xs:complexType name="DatasetSeries_type">
    <xs:complexContent>
      <xs:extension base="Dataset_type"/>
    </xs:complexContent>
  </xs:complexType>

  <!-- dcat:Relationship -->
  <xs:complexType name="Relationship_type">
    <xs:sequence>
      <xs:element name="Relationship">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="rdf:Resource">
              <xs:sequence>
                <xs:element name="hadRole" minOccurs="0" maxOccurs="unbounded"/> <!-- VL has it 0..1 -->
                <xs:element ref="dct:relation" minOccurs="0" maxOccurs="unbounded"/> <!-- Doesn't exists for VL -->

                <!-- VL added elements -->
                <!-- <xs:element ref="dct:description" minOccurs="0"/> -->
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- DCAT elements -->
  <xs:element name="Catalog" type="Catalog_type"/>
  <xs:element name="CatalogRecord" type="CatalogRecord_type"/>
  <xs:element name="Dataset" type="Dataset_type"/>
  <xs:element name="DataService" type="DataService_type"/>
  <xs:element name="Distribution" type="Distribution_type"/>
  <xs:element name="DatasetSeries" type="DatasetSeries_type"/>

  <xs:element name="record">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CatalogRecord" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dataset">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="Dataset" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="DatasetSeries" minOccurs="1" maxOccurs="1"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="service">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="DataService" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="distribution">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Distribution" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="catalog" type="rdf:ResourceRef"/>
  <xs:element name="themeTaxonomy" type="skos:ConceptScheme"/>
  <xs:element name="contactPoint" type="vcard:Organization"/>
  <xs:element name="keyword" type="rdf:PlainLiteral"/>
  <xs:element name="landingPage" type="rdf:ResourceRef"/>
  <xs:element name="qualifiedRelation" type="Relationship_type"/>
  <xs:element name="spatialResolutionInMeters" type="xs:decimal"/>
  <xs:element name="temporalResolution" type="xs:duration"/>
  <xs:element name="theme" type="dct:subject"/>
  <xs:element name="mediaType" type="skos:Concept"/>
  <xs:element name="compressFormat" type="skos:Concept"/>
  <xs:element name="packageFormat" type="skos:Concept"/>
  <xs:element name="accessService" type="rdf:ResourceRef"/>
  <xs:element name="accessURL" type="rdf:ResourceRef"/>
  <xs:element name="byteSize" type="xs:nonNegativeInteger"/>
  <xs:element name="downloadURL" type="rdf:ResourceRef"/>
  <xs:element name="isVersionOf" type="rdf:ResourceRef"/>
  <xs:element name="hasVersion" type="rdf:ResourceRef"/>
  <xs:element name="version"/>
  <xs:element name="inSeries" type="rdf:ResourceRef"/>
  <xs:element name="extension" type="rdf:Statement"/>
  <xs:element name="first" type="rdf:ResourceRef"/>
  <xs:element name="last" type="rdf:ResourceRef"/>
  <xs:element name="prev" type="rdf:ResourceRef"/>
  <xs:element name="next" type="rdf:ResourceRef"/>
  <xs:element name="endpointDescription" type="rdf:ResourceRef"/>
  <xs:element name="endpointURL" type="rdf:ResourceRef"/>
  <xs:element name="servesDataset" type="rdf:ResourceRef"/>
</xs:schema>
