src/main/plugin/metadata-dcat/schema/dcat.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:adms="http://www.w3.org/ns/adms#"
           xmlns:dct="http://purl.org/dc/terms/"
           xmlns:dcat="http://www.w3.org/ns/dcat#"
           xmlns:foaf="http://xmlns.com/foaf/0.1/"
           xmlns:owl="http://www.w3.org/2002/07/owl#"
           xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
           xmlns:skos="http://www.w3.org/2004/02/skos/core#"
           xmlns:spdx="http://spdx.org/rdf/terms#"
           xmlns:vcard="http://www.w3.org/2006/vcard/ns#"
           xmlns:mdcat="http://data.vlaanderen.be/ns/metadata-dcat#"
           targetNamespace="http://www.w3.org/ns/dcat#"
           elementFormDefault="qualified"
           attributeFormDefault="qualified">
  <xs:annotation>
    <xs:documentation xml:lang="en">
      DCAT-AP 2.0 XML Schema
      XML Schema for http://www.w3.org/ns/dcat# namespace

      Description: This is an XML Schema for the DCAT-AP specification. The schema is used by GeoNetwork for storing GeoNetwork data internally. The schema adheres to a 'normalized' RDF/XML syntax that can be processed with good old XML Technology (XPath, XSLT, XQuery). The schema is not intended to be used outside GeoNetwork.

      Created 2016-05-31
      Modified 2020-12-02

      Author GIM

    </xs:documentation>
  </xs:annotation>
  <xs:import namespace="http://www.w3.org/ns/adms#" schemaLocation="adms.xsd"/>
  <xs:import namespace="http://purl.org/dc/terms/" schemaLocation="dcterms.xsd"/>
  <xs:import namespace="http://xmlns.com/foaf/0.1/" schemaLocation="foaf.xsd"/>
  <xs:import namespace="http://www.w3.org/2002/07/owl#" schemaLocation="owl.xsd"/>
  <xs:import namespace="http://www.w3.org/2004/02/skos/core#" schemaLocation="skos.xsd"/>
  <xs:import namespace="http://spdx.org/rdf/terms#" schemaLocation="spdx.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/02/22-rdf-syntax-ns#" schemaLocation="rdf.xsd"/>
  <xs:import namespace="http://www.w3.org/2006/vcard/ns#" schemaLocation="vcard.xsd"/>
  <xs:import namespace="http://data.vlaanderen.be/ns/metadata-dcat#" schemaLocation="mdcat.xsd"/>

  <xs:element name="Catalog" type="dcat:Catalog"/>

  <!-- dcat:Catalog-->
  <xs:complexType name="Catalog">
    <xs:sequence>
      <xs:element ref="dct:title" minOccurs="1" maxOccurs="unbounded"/>
      <xs:element ref="dct:description" minOccurs="1" maxOccurs="unbounded"/>
      <xs:element ref="dct:publisher" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="foaf:homepage" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="dct:license" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="dct:language" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="dct:issued" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="dct:modified" minOccurs="0" maxOccurs="1"/>
      <xs:element name="themeTaxonomy" type="skos:ConceptScheme" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="dct:hasPart" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="dct:isPartOf" minOccurs="0" maxOccurs="1"/>
      <xs:element name="record" type="dcat:CatalogRecord" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="dct:rights" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="dct:spatial" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="dataset" type="dcat:Dataset" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="service" type="dcat:DataService" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="contactPoint" type="vcard:Organization" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="keyword" type="rdf:PlainLiteral" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="landingPage" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="qualifiedRelation" type="dcat:Relationship" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="theme" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="dct:accessRights" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="dct:conformsTo" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="dct:creator" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="dct:identifier" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="dct:isReferencedBy" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="dct:relation" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="dct:type" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute ref="rdf:about"/>
  </xs:complexType>

  <!-- dcat:CatalogRecord-->
  <xs:complexType name="CatalogRecord">
    <xs:sequence>
      <xs:element name="CatalogRecord" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <!-- mandatory properties for dcat:CatalogRecord-->
            <xs:element ref="dct:identifier" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="foaf:primaryTopic" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="dct:modified" minOccurs="1" maxOccurs="1"/>
            <!-- recommended properties for dcat:CatalogRecord-->
            <xs:element ref="dct:conformsTo" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="adms:status" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="dct:issued" minOccurs="0" maxOccurs="1"/>
            <!-- optional properties for dcat:CatalogRecord-->
            <xs:element ref="dct:title" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dct:description" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dct:language" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dct:source" minOccurs="0" maxOccurs="1"/>
          </xs:sequence>
          <xs:attribute ref="rdf:about"/>
          <xs:attribute ref="rdf:nodeID"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- dcat:Dataset-->
  <xs:complexType name="Dataset">
    <xs:sequence>
      <xs:element name="Dataset" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="dct:identifier" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dct:title" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="dct:description" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="contactPoint" type="vcard:Organization" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dct:issued" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="dct:modified" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="dct:publisher" minOccurs="0" maxOccurs="1"/>
            <xs:element name="keyword" type="rdf:PlainLiteral" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="theme" type="skos:Concept" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dct:accessRights" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="dct:conformsTo" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="foaf:page" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dct:accrualPeriodicity" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="dct:hasVersion" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dct:isVersionOf" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="landingPage" type="rdf:Resource" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dct:language" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="adms:identifier" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dct:provenance" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dct:relation" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dct:source" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dct:spatial" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dct:temporal" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dct:type" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="owl:versionInfo" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="adms:versionNotes" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="extension" type="rdf:Statement" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="distribution" type="dcat:Distribution" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="adms:sample" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="qualifiedRelation" type="dcat:Relationship" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dct:creator" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dct:isReferencedBy" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dct:rights" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute ref="rdf:about"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- dcat:Distribution-->
  <xs:complexType name="Distribution">
    <xs:sequence>
      <xs:element name="Distribution" minOccurs="1" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="dct:title" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dct:description" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="accessURL" type="rdf:Resource" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="downloadURL" type="rdf:Resource" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dct:issued" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="dct:modified" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="dct:format" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="dcat:mediaType" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="dct:language" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dct:license" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="dct:rights" minOccurs="0" maxOccurs="1"/>
            <xs:element name="byteSize" type="rdf:TypedLiteral" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="spdx:checksum" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="foaf:page" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dct:conformsTo" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="adms:status" minOccurs="0" maxOccurs="1"/>
            <xs:element name="accessService" type="rdf:Resource" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dcat:compressFormat" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="dcat:packageFormat" minOccurs="0" maxOccurs="1"/>
            <xs:element name="spatialResolutionInMeters" type="xs:decimal" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="temporalResolution" type="xs:duration" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute ref="rdf:about"/>
          <xs:attribute ref="rdf:nodeID"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- dcat:DataService -->
  <xs:complexType name="DataService">
    <xs:sequence>
      <xs:element name="DataService" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="dct:identifier" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dct:title" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="dct:description" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dct:publisher" minOccurs="0" maxOccurs="1"/>
            <xs:element name="endpointUrl" type="rdf:Resource" minOccurs="1" maxOccurs="1"/>
            <xs:element name="endpointDescription" type="rdf:Resource" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="servesDataset" type="rdf:Resource" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="landingPage" type="rdf:Resource" minOccurs="0" maxOccurs="1"/>
            <xs:element name="contactPoint" type="vcard:Organization" minOccurs="1" maxOccurs="1"/>
            <xs:element name="keyword" type="rdf:PlainLiteral" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dct:language" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="adms:identifier" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="owl:versionInfo" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="mdcat:landingspaginaVoorAuthenticatie" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="mdcat:landingspaginaVoorStatusinformatie" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="mdcat:landingspaginaVoorGebruiksinformatie" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="mdcat:levensfase" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="mdcat:ontwikkelingstoestand" minOccurs="0" maxOccurs="1"/>
            <xs:element name="qualifiedRelation" type="dcat:Relationship" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="theme" type="skos:Concept" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dct:accessRights" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="dct:conformsTo" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dct:creator" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dct:isReferencedBy" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dct:license" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="dct:issued" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="dct:modified" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="dct:relation" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dct:rights" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="dct:type" minOccurs="0" maxOccurs="1"/>
          </xs:sequence>
          <xs:attribute ref="rdf:about"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="mediaType" type="skos:Concept"/>
  <xs:element name="compressFormat" type="skos:Concept"/>
  <xs:element name="packageFormat" type="skos:Concept"/>

  <xs:complexType name="Relationship">
    <xs:sequence>
      <xs:element name="Relationship" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="hadRole" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="dct:description" minOccurs="0"/>
          </xs:sequence>
          <xs:attribute ref="rdf:about"/>
          <xs:attribute ref="rdf:nodeID"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
